.logo-container img{
    width: 75%;
    display: block;
    margin: auto;
    padding-top: 10vh;
}

.admin-login{
    display: flex;
}

.logo-container{
    height: 100%;
    width: 50%;
}

.admin-container{
    width: 50%;
    padding-inline: 20vh;
}

.admin-wrap{
    padding: 5vh;
    margin-top: 15vh;
    border-radius: 3vh;
    box-shadow: 1px 2px 20px;
    background-color: rgb(255, 255, 255);
}

/* Form */

.add{
    width: 70%;
    padding-top: 2vh;
    display: flex;
    align-self: flex-end;
}


.form-container{
    width: 100%;
}

.form-container form{
    width: 50%;
    margin: auto;
}