.logo-container img{
    width: 75%;
    display: block;
    margin: auto;
    padding-top: 10vh;
}

.admin-login{
    background-color: aliceblue;
    height: 100% ;
    display: flex;
}

.logo-container{
    height: 100%;
    width: 50%;
}

.admin-container{
    width: 50%;
    padding-inline: 20vh;
}

.admin-wrap{
    padding: 5vh;
    margin-top: 15vh;
    border-radius: 3vh;
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(255, 255, 255);
}


