.logo-container img {
    width: 75%;
    display: block;
    margin: auto;
    padding-top: 10vh;
}

.admin-login {
    display: flex;
}

.logo-container {
    height: 100%;
    width: 50%;
}

.admin-container {
    width: 50%;
    padding-inline: 20vh;
}

.admin-wrap {
    padding: 5vh;
    margin-top: 15vh;
    border-radius: 3vh;
    box-shadow: 1px 2px 20px;
    background-color: rgb(255, 255, 255);
}

@media (max-width:1100px) {
    .admin-container{
        width: 100% !important;
        padding-inline: 5vh !important;
    }
    .logo-container{
        width: 100% !important;
        padding-top: 0 !important;
    }
    .logo-container img{
        padding-top: 0 !important;
        margin-top: 0 !important;
        width: 100% !important;
    }
    .admin-login{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .admin-wrap{
        margin: 1vh !important;
    }
}

/* Nvabar */


.navbar {
    padding: 1vh !important;
    background-color: rgb(124, 101, 255, 0.5);

}

.navbar h1 {
    margin-left: 5vh;
    color: rgb(255, 255, 255);
}

/* Nvabar end */


/* Side bar */
.home {
    color: white;
    padding: 3vh;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
}

.sidebar-container {
    background-color: rgb(184, 168, 255, 0.5);
    width: 25%;
    padding: 2vh;
    border: 1px solid white;
    border-radius: 1vh;
    height: fit-content;
}

.functions {
    background-color: rgb(184, 168, 255, 0.5);
    padding: 2vh;
    width: 70%;
    border-radius: 1vh;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
}

.feature-box {
    display: flex;
    padding: 2vh;
    justify-content: center;
    width: 20%;
    align-items: center;
    border: 1px solid white;
    background-color: rgb(124, 101, 255);
    margin: 3vh;
    border-radius: 1vh;
    font-size: x-large;
    max-height: 30%;
}

.title {
    width: 100%;
    text-align: center;
}

.feature-box:hover {
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
    cursor: pointer;
}
.object{
    width: 50%;
    text-align: center;
}

.data{
    display: flex;
    
    border: 1px solid rgb(255, 255, 255);
    padding: 1vh;
    background-color: rgb(124, 101, 255);
    margin: 1vh;
    border-radius: 1vh;
}
.table2{
    width: 70%  !important;
}
@media (max-width:1100px) {
    .sidebar-container{
        width: 100%;
        margin-bottom: 1vh;
    }
    .home{
        flex-direction: column;
        justify-content: center;
    }
    .add{
        width: 100% !important;
        overflow: scroll;
        margin: auto;
    }
    .table2{
        width: 100%  !important;
    }
    
}

/* form */





.log-out{
    position: absolute;
    top: 1vh;
    right: 1vh;
}

